body {
  overflow-x: hidden;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-spaced {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.div-center {
  margin: 0 auto;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-responsive {
  margin-top: 10vh;
  width: 70vw;
}

@media only screen and (max-width: 600px) {
  .form-responsive {
    margin-top: 10px;
    width: 90vw;
  }
}

.form-responsive-login {
  margin-top: 10vh;
  width: 50vw;
}

@media only screen and (max-width: 600px) {
  .form-responsive-login {
    width: 80vw;
  }
}

.red-button {
  background-color: rgb(219, 3, 3) !important;
  border-color: rgb(219, 3, 3) !important;
}

.bottom-nav-text {
  position: fixed;
  color: #3d5170;
  bottom: 20px;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0);
}

.bottom-nav-text-i {
  border: solid #3d5170;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.text-input {
  text-align: center;
  -webkit-appearance: none;
  border-color: transparent;
  background-color: transparent;
}

.icon-material-ui {
  color: rgb(185, 185, 185);
  cursor: pointer;
}

.icon-material-ui:hover {
  color: #007bff;
}

.profile-avatar-small {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.container-profile-avatar-small {
  width: 40px;
  height: 40px;
}
.profile-avatar-main {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  min-width: 150px;
  min-height: 150px;
}

.profile-top {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  float: right;
}

@media only screen and (max-width: 600px) {
  .profile-top {
    margin-left: 70vw;
  }
}

.profile-avatar-main {
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-icon {
  color: grey !important;
  top: 70px;
  right: 20px;
  font-size: large !important;
  z-index: 1000;
  position: absolute;
}

.menu-icon {
  color: grey !important;
  top: 70px;
  right: 20px;
  font-size: 35px !important;
  opacity: 0;
  z-index: 1000;
  position: absolute;
}

@media only screen and (max-width: 500px) {
  .menu-icon {
    color: grey !important;
    top: 70px;
    right: 20px;
    font-size: 35px !important;
    z-index: 1000;
    opacity: 1;
    position: absolute;
  }
}

.no-click {
  pointer-events: none;
}

.welcome-message-container {
  margin: 15vh auto;
  max-width: 550px;
  text-align: center;
}
